.logo1 {
  width: 100px;
  margin: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boton2 {
  padding: 10px 20px;
  background-color: rgb(223, 185, 15);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton2:hover {
  background-color: #a17805;
}

.error {
  color: red;
  text-align: center;
  width: 100%;
}

.success {
  color: green;
  text-align: center;
  width: 100%;
}

a {
  font-family: sans-serif;
  font-size: small;
  color: #f1b205;
}

@media (max-width: 750px) {
  .formulario {
      flex-direction: column;
  }

  .form-group {
      width: 100%;
  }
}